[submodule "Controller/IRESGController"]
	path = Controller/IRESGController
	url = https://github.com/PDD0911-HCMUS/IRESG.git
[submodule "Controller/RelTRController"]
	path = Controller/RelTRController
	url = https://github.com/PDD0911-HCMUS/RelTR.git