.venv
**/__pycache__/

*.pt
*.zip
*.txt
*.pth

Datasets/VisualGenome
Datasets/GQA
Datasets/imaterialist-fashion-2019-FGVC6
Datasets/fashion-data
Datasets/BDD
Datasets/Incidents
Datasets/IncidentsV2
Datasets/MSCOCO
Datasets/tmp
Datasets/upload

Checkpoint/CrossEncoderAttention
Checkpoint/IRESGCL
Checkpoint/RelTR

Controller/CrossEncoderController/work_dir