0_Datasets

Datasets

.venv
**/__pycache__/

*.pt
*.zip
*.txt
**/fashion-data/
*.pth

nltk_data/*
check_gt.json

khangTA

Checkpoint

EGTRController/pretrained_detr_vg
CrossEncoderController/vg_test.json
CrossEncoderController/vg_train.json
CrossEncoderController/vg_val.json
CrossEncoderController/vg.json
